@font-face {
    font-family: Circular;
    src: url(../fonts/Circular/CircularStd-Medium.otf);
    font-weight: normal;
}
@font-face {
    font-family: Circular;
    src: url(../fonts/Circular/CircularStd-Bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: Circular;
    src: url(../fonts/Circular/CircularStd-Black.otf);
    font-weight: bolder;
}
@font-face {
    font-family: Kepler;
    src: url(../fonts/Kepler/KeplerStd-Regular.ttf);
}
body {
	margin: 0px;
	padding: 0px;
}
h1 {
	font-size: 48px;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0.2em;
}
h3 {
	font-size: 24px;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}
ul {
	-webkit-padding-start: 0px;
}
header {
	position: relative;
	margin-bottom: -1px;
}
.vimeo-video {
	text-align: center;
}
.video-wrap {
	width: 100%;
    height: 56.25vw;
}
.video-wrap iframe {
	width: 100%;
	height: 100%;
}
.controls-wrapper {
	opacity: 0 !important;
}
.logo {
	position: absolute;
	margin: 0 auto;
	top: 20px;
	left: 0;
	right: 0;
	text-align: center;
	margin-top: 70px;
	z-index: 1;
}
.register {
	font-family: "Circular";
	font-weight: 600;
	background: transparent;
	width: 280px;
	height: 60px;
	font-size: 33px;
	position: absolute;
	bottom: 20%;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 2px;
	margin: 0 auto;
	left: 0;
	right: 0;
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	.logo {
		margin: 0;
	}
	.logo img {
		width: 100px;
		margin-left: 15px;
	}
	.register {
		width: 150px;
		font-size: 22px;
		bottom: 30px;
		height: 40px;
	}
}

/*BANNER SECTION*/
.banner-section {
	background: url(../images/banner-background.png);
	width: 100%;
	background-position: 0px -300px;
	text-align: center;
	padding: 10% 15px 10% 15px;
	box-sizing: border-box;
}
.banner-header {
	color: #fff;
	font-family: "Circular";
	font-weight: bolder;
	text-transform: uppercase;
}
.banner-text {
	font-family: "Kepler";
	font-size: 21px;
	line-height: 28px;
	color: #fff;
	width: 40%;
	margin: 0 auto;
	padding-top: 50px;
}
.banner-text:before {
	content: "";
	width: 5%;
	border-bottom: 1px solid #fff;
	height: 5px;
	position: absolute;
	margin: 0 auto;
	left: 0px;
	right: 0px;
}
.banner-text p {
	margin-top: 50px;
}

@media screen and (max-width: 1170px) {
	.banner-text {
		font-size: 25px;
	}
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 26px;
	    -webkit-margin-after: 0.2em;
	}
	h3 {
		font-size: 13px;
	}
	.banner-text {
		width: 90%;
		font-size: 20px;
	}
}

/*FEATURES SECTION*/
.features-section {
	background: url(../images/features-background.png);
	width: 100%;
	text-align: center;
	padding: 5% 0 7% 0;
	box-sizing: border-box;
	background-size: cover;
}
.features-section ul > li:nth-child(4n + 1) {
    margin-left: 0;
}
.features-section ul {
    width: 55%;
    margin: 0 auto;
}
.features-section ul > li {
    display: inline-block;
    width: 16%;
    margin-left: 8%;
    margin-top: 4%;
    vertical-align: top;
}
.features-section ul > li svg {
    fill: #fff;
    padding: 4%;
}
.features-section ul > li:hover svg {
	fill: #00b7eb;
}

@media screen and (max-width: 768px) {
	.features-section ul {
		width: 80%;
	}
}

/*FOOTER*/
footer {
	padding: 5% 0 5% 0;
	background: #050000;
	color: #878787;
	font-family: "Circular";
	text-align: center;
	box-sizing: border-box;
}
.back-to-top {
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
}
.back-to-top img {
	width: 5%;
	min-width: 40px;
}
.copyright {
	width: 60%;
	padding-top: 5%;
	color: #878787;
	margin: 0 auto;
	font-size: 18px;
}
.copyright:after {
	content: "";
	position: absolute;
	border-bottom: 1px solid #878787;
	width: 43%;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.social {
	padding-top: 20px;
}
.social span {
	padding: 0 5px;
}

@media screen and (max-width: 768px) {
	footer {
		padding: 50px 0;
	}
	.copyright {
		font-size: 15px;
	}
}

.load {
	visibility: hidden;
}
.fadeIn {
    -webkit-animation: animate_show 1s;
    animation: animate_show 1s;
    visibility: visible !important;
}
@-webkit-keyframes animate_show{
    0% {
    	opacity: 0;
    	padding-top: 10px;
    }
    100%{ 
    	opacity: 1;
    	padding-top: 0px;
    }
}

.table-center {
    display: table;
    width: 100%;
    height: 100%;
}
.table-center > * {
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
#h-loader {
	background: #ddd;
    display: block;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}
.h-loader{
	position: relative;
	font-size: 0;
	text-indent: -9999em;
	margin: 0 auto;
	opacity: 1;

	border-top: 3px solid rgba(0, 0, 0, 0.1);
	border-right: 3px solid rgba(0, 0, 0, 0.1);
	border-bottom: 3px solid rgba(0, 0, 0, 0.1);
	border-left: 3px solid #666;

	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}
.h-loader,
.h-loader:after{
	width: 40px;
	height: 40px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
@-webkit-keyframes load8{
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8{
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}