.js-graph {
  background: #fff;
  padding: 0px 0px 20px 20px;
}

.x-axis .tick {
  stroke: #c6c5c5;
  /*opacity: .25 !important;*/
}

.x-axis .tick line {
  stroke: #c6c5c5;
  opacity: 0 !important;
}

.y-axis .tick:first-child {
  stroke: #c6c5c5;
  opacity: 0 !important;
}

.x-axis path {
  stroke-width: 3 !important;
  /* opacity: .75; */
}

.y-axis .tick {
  stroke: #c6c5c5;
  /*opacity: 0.25 !important;*/
}
.y-axis .tick line {
  opacity: 0.25 !important;
}

.y-axis .tick:first-child {
  stroke: #c6c5c5;
}

.y-axis path {
  stroke-width: 0;
  opacity: 0 !important;
}

.y-axis .tick text {
  font-size: 12px;
}

.x-axis .tick text {
  font-size: 12px;
}

.js-graph {
  width: 100%;
  height: 270px;
  position: relative;
}
.js-graph * {
  box-sizing: border-box;
}
.js-graph path {
  stroke-width: 3;
  fill: none;
}
.js-graph path.area {
  stroke-width: 0;
  fill: red;
}
.js-graph .point {
  stroke-width: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: 0;
}
.js-graph .point.end {
  opacity: 0;
}
.js-graph .bar-rect {
  fill: transparent;
  stroke: none;
}
.js-graph .point.hover {
  stroke-width: 15;
  opacity: 1;
}
.js-graph .point.end.hover {
  stroke-width: 15;
  opacity: 1;
}
.js-graph .chart-container {
  position: relative;
}
.js-graph .chart-tooltip {
  position: absolute;
  background: #f1f1f1;
  color: #999;
  left: 0;
  /* display: none; */
  padding: 6px 8px 5px 8px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 3px;
  margin-left: 10px;
  opacity: 0;
  -webkit-transition: .25s;
}
.js-graph .chart-tooltip .title {
  z-index: 3;
  text-transform: uppercase;
  font-size: 13px;
}
.js-graph .chart-tooltip.hover {
  margin-top: -15px;
  opacity: 1;
}
.js-graph .chart-tooltip:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  /*margin-left: -5px;*/
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top: 5px solid #f1f1f1;
}
.js-graph .bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: 5px;
  top: 13px;
}